/* Primary-color-orange:#e7511f 
 Default-color-blue:#0b3b69 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* common css start */

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
    outline: none !important;
    border: none !important;
}

.p-0 {
    padding: 0;
}

.bg-black {
    background: #000;
}

.form-control {
    height: 40px !important;
    font-size: 14px !important;
    border-radius: none !important;
}

.slick-slide:focus {
    outline: none !important;
}

.v-a-top {
    vertical-align: top;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 35px !important;
    height: 35px !important;
    background-size: 220% !important;
    background-repeat: no-repeat !important;
    /* background-color: #0b3b69 !important;
    border-radius: 4px !important; */
    background-image: url(../images/banner-arrow.png) !important;
    transition: ease-out .2s;
}

.carousel-control-next-icon {
    background-position: bottom right !important;
}

.carousel-control-next-icon:hover {
    background-position: top right !important;
}

.carousel-control-prev-icon {
    background-position: bottom left !important;
}

.carousel-control-prev-icon:hover {
    background-position: top left !important;
}


/* .carousel-control-next,
.carousel-control-prev {
    opacity: .9;
    transition: opacity .15s ease !important;
} */


/* common css end */


/* empty message css start */

.empty-message {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/bg.jpg');
    position: relative;
    margin: 20px 0;
}

.empty-message:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fdebe5d6;
}

.empty-message img {
    height: 170px;
    position: relative;
}

.empty-message p {
    color: #0b3b69;
    font-size: 26px;
    margin: 15px 0;
    font-weight: bold;
    position: relative;
}


/* empty message css end */


/* heading css start */

h3.product-head {
    font-size: 26px;
    font-weight: bold;
    color: #e7511f;
}

hr.product-head {
    background-color: #e7511f;
    width: 40px;
    height: 2px;
    margin: 10px 0;
}


/* heading css end */


/* ------ Header CSS start ------ */

header#myHeader {
    box-shadow: 0px 2px 6px #cccccc;
}

.top-orange {
    background-color: #e7511f;
    display: flex;
    align-items: center;
    /* padding: 0 50px; */
}

.text-white {
    color: #fff;
}

.shop-by .dropdown-menu>li>a {
    font-size: 14px;
    line-height: 33px;
    color: #0b3b69;
}

.shop-by a.dropdown-toggle:hover {
    color: #fff !important;
}

.shop-by .dropdown-submenu>a:after {
    margin: 12px 0;
}

li.dropdown.shop-by:hover {
    background-color: #0b3b69;
}

.shop-by .dropdown-menu.show {
    left: -12px !important;
    top: 10px !important;
    min-width: 250px !important;
}

.dropdown-menu {
    font-size: 14px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
     margin-left: -7px;
    width: 100%;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.top-header {
    height: 110px;
    background-color: #ffffff;
    /* transition: all 0.7s; */
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.nav-link.cart-hover {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.center-search-link {
    min-width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.search .input-group input.form-control:focus {
    border-right: transparent !important;
    outline: none;
}

span.menu-pointer {
    font-size: 30px;
    cursor: pointer;
    color: #0b3b69;
}

.shop-by {
    background-color: #e7511f;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 1px 2px 0px 11px;
    border-radius: 4px;
    transition: all 0.3s;
}

.shop-by:hover {
    background-color: #0b3b69;
}

.shop-by a {
    color: #fff;
}

.dropdown-toggle::after {
    display: none !important;
}

.logo {
    position: relative;
    z-index: 1;
    float: left;
    margin-right: 20px;
}

.logo .main-logo {
    width: 170px;
    margin-right: 20px;
}

.logo .small-logo {
    display: none;
    width: 90px !important;
}

.product-res-img img {
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}

.product-res-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 8px;
}

.search-cart {
    width: 100%;
}

.search-cart ul {
    float: right;
}

.search-cart ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    color: #0b3b69;
    font-size: 18px;
}

.search-cart ul li a {
    color: #e7511f;
    font-size: 18px;
    font-weight: 500;
}

.search-cart ul li:last-child {
    border-right: 0;
}

.respons-menu-logo {
    display: none;
}

li.respon-blck {
    display: none;
}

.tp-caption a:hover {
    color: #fff;
}

.product-des,
.details-text {
    padding: 20px 0;
}

.pro-detil-additional-info h3 {
    color: #000;
    font-weight: bold;
}

.pro-title-info {
    padding: 10px 0px;
}

.pro-title-info h1.pro-name {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}


/* ------ Header CSS end ------ */


/* ------ Home product Detail Slider CSS start ------ */

section.product {
    padding: 20px 0;
}

.home-pro-slide .pro-slide-tlt {
    text-align: center;
    margin: 45px 0 85px;
}

.home-pro-slide .pro-slide-tlt h2 {
    font-size: 38px;
    color: #0b3b69;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    font-family: 'mermaidbold';
    position: relative;
    display: inline-block;
}

.home-pro-slide .pro-slide-tlt h2::before {
    position: absolute;
    left: -148px;
    content: "";
    background: url(../images/left-bdr.png) no-repeat;
    width: 126px;
    height: 19px;
    top: 22%;
}

.home-pro-slide .pro-slide-tlt h2::after {
    position: absolute;
    right: -148px;
    content: "";
    background: url(../images/right-bdr.png) no-repeat;
    width: 126px;
    height: 19px;
    top: 22%;
}

.home-pro-slide {
    padding: 20px 0 118px;
    background: #fbfbfb;
}

.home-pro-slide .img-center {
    text-align: center;
    border: 1px solid #ececec;
}

.home-pro-slide .owl-item .item-box {
    padding: 0 13px;
}

.home-pro-slide .owl-item .item-box h5 {
    color: #0b3b69;
    font-size: 17px;
    font-weight: 700;
    margin: 24px 0 20px;
    padding: 0;
    line-height: 26px;
}

.home-pro-slide .owl-item .item-box p {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}


/* ------ Home product Detail Slider CSS end ------ */


/* ------ Home Collection Part CSS start ------ */

.collectionpart .left-side img {
    max-width: 100%;
    width: 100%
}

.collectionpart .collection-detail {
    padding: 46px 0 0 105px;
    background: url(../images/collection-detail-bg.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

.collectionpart .collection-detail h2 {
    font-size: 30px;
    color: #e7511f;
    font-weight: 700;
    font-family: 'mermaidbold';
    margin: 0;
    position: relative;
}

.collectionpart .collection-detail h2:after {
    height: 2px;
    width: 198px;
    background: #b1b1b1;
    position: absolute;
    bottom: -7px;
    left: 0;
    content: "";
}

.collectionpart .collection-detail h1 {
    font-size: 74px;
    color: #0b3b69;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'mermaidbold';
    margin: 26px 0 41px;
}

.collectionpart .collection-detail h1 br.tree-br {
    display: none;
}

.collectionpart .collection-detail p {
    font-size: 14px;
    color: #9c9c9c;
    font-weight: 400;
    margin: 0;
}

.collectionpart .cssbtn-part {
    margin-top: 41px;
    margin-bottom: 26px;
}

.collectionpart .cssbtn-part a {
    border: 1px solid #000;
}

.m-r-5 {
    margin-right: 5px;
}


/* button css start */

.cssbtn-part a {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    padding: 15px;
    border-radius: 0;
}

.cssbtn-part span {
    display: block;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}


/* ------ Home Collection Part CSS end ------ */


/* ------ Connect With Us Part CSS start ------ */

.connect-with-us {
    padding: 0 0 100px;
}

.connect-with-us .owl-item .item-box {
    padding: 0 13px;
}

.connect-with-us .tlt-main {
    text-align: center;
    margin: 218px 0;
}

.connect-with-us .with-us-tlt {
    text-align: center;
    display: inline-block;
    position: relative;
}

.connect-with-us .with-us-tlt h2 {
    text-align: left;
    font-size: 45px;
    color: #e7511f;
    font-weight: 400;
    position: relative;
    font-family: 'NoeDisplay-Regular';
    margin-left: 174px;
}

.connect-with-us .with-us-tlt h2 span {
    text-align: left;
    font-size: 80px;
    color: #0b3b69;
    font-weight: 700;
    display: block;
    font-family: 'NoeDisplay-Bold';
}

.connect-with-us .with-us-tlt h2:after {
    position: absolute;
    content: "";
    font-size: 500px;
    left: -170px;
    top: -115px;
    color: #0b3b69;
    background: url(../images/connect-with-us/c-tlt.png) no-repeat;
    width: 281px;
    height: 362px;
    font-family: 'NoeDisplay-Bold';
    font-weight: 700;
}

.connect-with-us .owl-item .item .item-box {
    text-align: center;
}

.connect-with-us .owl-theme .owl-controls .owl-buttons div {
    color: #000;
    display: block;
    zoom: normal;
    margin: 0;
    padding: 0 28px;
    font-size: 36px;
    border-radius: 0px;
    background: none;
    line-height: 991%;
    box-shadow: none;
}

.connect-with-us .owl-theme .owl-controls .owl-buttons div:hover.owl-next {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#474343+0,000000+100&0+0,0.7+100 */
    background: -moz-linear-gradient(left, rgba(71, 67, 67, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(71, 67, 67, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(71, 67, 67, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00474343', endColorstr='#b3000000', GradientType=1);
    /* IE6-9 */
}

.connect-with-us .owl-theme .owl-controls .owl-buttons div:hover.owl-prev {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,474343+100&0.7+0,0+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(71, 67, 67, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 0%, rgba(71, 67, 67, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(71, 67, 67, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00474343', GradientType=1);
    /* IE6-9 */
}

.connect-with-us .owl-theme .owl-controls {
    bottom: 100%;
}


/* .connect-with-us .owl-theme .owl-controls .owl-buttons div span{display: none;} */

.connect-with-us .owl-theme .owl-controls .owl-buttons div:hover span i {
    color: #fff;
}

.connect-with-us .owl-buttons span i {
    color: #000;
    font-size: 50px;
}

.connect-with-us .owlCarousel {
    overflow: hidden;
}

.connect-with-us .sosial-icn {
    position: absolute;
    left: 41%;
    bottom: -48px;
}

.connect-with-us .sosial-icn ul {
    margin: 0;
    padding: 0;
}

.connect-with-us .sosial-icn ul li {
    list-style: none;
    display: inline-block;
    margin: 0 7px;
}

.connect-with-us .sosial-icn ul li a {
    text-decoration: none;
}

.connect-with-us .sosial-icn ul li a i {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #0b3b69;
    color: #0b3b69;
    font-size: 19px;
    transition: all 0.3s;
}

.connect-with-us .sosial-icn ul li a i:hover {
    box-shadow: inset 0 0 0 1px #0b3b69;
}


/* .sosial-icn ul li a i:hover.fa-facebook{color: #3b5998;}
.sosial-icn ul li a i:hover.fa-google-plus{color: #d34836;}
.sosial-icn ul li a i:hover.fa-youtube-play{color: #c4302b;}
.sosial-icn ul li a i:hover.fa-instagram{color: #3f729b;} */


/* ------ Connect With Us Part CSS end ------ */


/* ------------------------------------ */


/* INNER PAGE CSS START */


/* ------------------------------------ */

.page-breadcrumb .breadcrumb {
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    background: transparent;
    border-radius: 0;
    margin: 10px 0;
}

.page-breadcrumb h2 {
    font-size: 17px;
    font-weight: 700;
    color: #b3b3b3;
    display: inline-block;
    margin: 10px 0;
}

.page-breadcrumb {
    position: relative;
}

.page-breadcrumb .breadcrumb li a,
.page-breadcrumb .breadcrumb li {
    color: #b3b3b3;
    font-weight: 400;
    font-size: 15px;
}

.page-breadcrumb .breadcrumb li a span {
    font-size: 20px;
    margin-right: 5px;
}

.page-breadcrumb::before {
    height: 1px;
    width: 100%;
    background: #dcdcdc;
    bottom: 1px;
    content: "";
    position: absolute;
}

.inner-slider {
    width: 100%;
}

.inner-slider img {
    width: 100%;
    max-width: 100%;
}


/* Product Category Page css START */

.fine-jewellery {
    padding: 20px 0;
}

.fine-jewellery h1 {
    font-size: 40px;
    font-weight: 700;
    color: #0b3b69;
    margin: 0;
    padding: 0;
    margin: 10px 0;
}

.fine-jewellery p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}


/* .fine-jewellery .fine-jewellery-box{margin: 45px 0;} */

.fine-jewellery .fine-jewellery-box .pro-box {
    margin: 40px 0;
}

.fine-jewellery .fine-jewellery-box .pro-box.mt-130 {
    margin-top: 130px;
}

.fine-jewellery .fine-jewellery-box .text-pro-part h3 {
    font-size: 45px;
    font-weight: 700;
    color: #0b3b69;
    font-family: 'mermaidbold';
    margin: 15px 0;
    text-transform: uppercase;
}

.fine-jewellery .fine-jewellery-box .text-pro-part h4 {
    font-size: 20px;
    font-weight: 700;
    color: #0b3b69;
    font-family: 'mermaidbold';
    margin: 15px 0 59px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.fine-jewellery .fine-jewellery-box .text-pro-part a {
    border: 1px solid #d2d2d2;
    font-size: 13px;
    font-weight: 400;
    color: #b5b5b5;
    text-transform: uppercase;
    padding: 7px;
    line-height: 26px;
    transition: all 0.7s;
}

.fine-jewellery .fine-jewellery-box .text-pro-part a:hover {
    background: #0b3b69;
    color: #fff;
}

.fine-jewellery .fine-jewellery-box .text-pro-part a i {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-top: -3px;
}

.fine-jewellery .fine-jewellery-box .img-part img {
    text-align: center;
    border: 2px solid #eee7e2;
    padding: 14px;
    min-height: 444px;
}


/* Form css start */

.subscribe-us {
    background: #eaeaea;
    margin: 25px 0 50px;
}

.subscribe-text {
    background: #858585;
    height: 100%;
    padding: 23px 0 23px 22%;
    position: relative;
}

.subscribe-text::before {
    background: #858585;
    width: 990px;
    position: absolute;
    content: "";
    left: -990px;
    top: 0;
    height: 100%;
}

.subscribe-text h3 {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.subscribe-text h3 span {
    color: #fff;
    font-size: 26px;
    display: block;
}

.subscribe-now {
    padding: 5% 0;
}

.subscribe-now .form-group {
    margin: 0;
}

.subscribe-now .form-control {
    border: 0;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    border-radius: 0;
    background-color: #eaeaea;
}

.subscribe-now .form-control::placeholder {
    color: #424243;
    font-size: 14px;
    font-weight: 400;
}

.subscribe-now .btn-part .subscribe {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #0b3b69;
    text-transform: uppercase;
    transition: all 0.7s;
}

.subscribe-now .btn-part .subscribe:hover {
    background: #424243;
}


/* Form Css end */


/* Product Category Page css END */


/* Product Listing Page css start */


/* heart css start */

.page-filter {
    padding: 10px 0;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
}

.page-filter::before {
    height: 1px;
    width: 100%;
    background: #dcdcdc;
    bottom: 1px;
    content: "";
    position: absolute;
}

.page-filter .w-auto {
    width: auto;
}

.page-filter .d_inline {
    display: inline-block;
}

.page-filter .form-group {
    margin-bottom: 0;
}

.page-filter select.form-control,
.page-filter select.form-control:focus,
.page-filter select.form-control:active {
    box-shadow: none;
    outline: 0;
    border: 0;
    border-radius: 0;
}

.page-filter select.form-control option {
    color: #000;
}

.page-filter select.form-control span:hover {
    background: #0b3b69;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: whitesmoke !important;
    background: #bf5279 !important;
}


/* .product-listing .control-group{position: absolute; top: 0px; right: 10px;}
.main-productshow{margin: 10px 0;}
.main-productshow .list-img img{width: 100%;}
.main-productshow .list-img{ position: relative; width: 100%; z-index: 2; overflow: hidden;}
.detail-hover{background: #fff;  padding: 15px 15px; border: 1px solid #ccc; width: 100%; position: absolute; top: 0; right: 0; height: 100%; transition: all 0.3s; z-index: 1; opacity: 0;}
.detail-hover h3{color: #0b3b69; font-weight: 700; font-size: 18px; margin: 0;}
.detail-hover span{color: #858585; font-size: 15px; font-weight: 700; display: block; margin: 25px 0 0;}
.detail-hover .btn-part{position: absolute; bottom: 30px;}
.main-productshow{width: 100%; position: relative;}
.main-productshow:hover{width: calc(100% - -96%); }
.main-productshow:hover .list-img{width: 50%; display: inline-block; height: 100%; }
.main-productshow:hover .detail-hover{width: 50%; display: inline-block; right: -37px; z-index: 3; opacity: 1;} */


/* .product-listing:nth-child(4) .main-productshow:hover{height: calc(100% - -96%); width: 100%; position: relative;} 
.product-listing:nth-child(4) .main-productshow:hover .list-img{width: 100%; display: block; }
.product-listing:nth-child(4) .main-productshow:hover .detail-hover{display: none;} */

.product-listing {
    margin: 25px 0;
}

.product-listing .list-full {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 15px 0;
    min-height: 263px;
    transition: all 0.3s;
    border: 1px solid #efece8;
    padding: 25px;
}

.product-listing .list-full:hover {
    overflow: visible;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.img-bdr {
    transition: all 0.3s;
}

.product-listing .list-full:hover .img-bdr {
    padding: 15px;
    transition: all 0.3s;
}

.detail-hover {
    background: #fff;
    padding: 15px 15px;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    transition: all 0.3s;
    z-index: 2;
}

.product-listing .list-full:hover .detail-hover {
    border: 1px solid #efece8;
    z-index: 3;
    top: 86%;
    border-top: 0;
}

.detail-hover h3 {
    color: #0b3b69;
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 25px;
}

.detail-hover span {
    color: #858585;
    font-size: 15px;
    font-weight: 700;
}

.detail-hover .btn-part {
    float: right;
}

.detail-hover .btn-part .subscribe {
    font-size: 12px;
    text-transform: uppercase;
    background: #424243;
    color: #fff;
    transition: all 0.7s;
    border-radius: 0;
    border: 0;
    padding: 3px 11px;
}

.detail-hover .btn-part .subscribe:hover {
    background: #0b3b69;
}

.control-group {
    position: absolute;
    top: 0;
    right: -6px;
}

.red-heart-checkbox {
    visibility: hidden;
}

.red-heart-checkbox+label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 30px;
    padding-left: 15px;
    transition: all 0.2s;
}

.red-heart-checkbox:checked+label:before {
    content: "\f004";
    color: #0b3b69;
}

.red-heart-checkbox+label:before {
    width: 23px;
    height: 23px;
    content: "";
    position: absolute;
    margin-left: -48px;
    margin-top: 3px;
    font-family: FontAwesome;
    font-size: 23px;
    content: "\f08a";
    transition: all 0.3s;
    color: #888;
}

.red-heart-checkbox+label:hover:before {
    transform: scale(1.1);
}


/* heart css end */


/* Product Listing Page Css End */

.callusicon.sign {
    right: 50px;
}

.callusicon.sign img {
    height: 19px;
    width: 50px;
}


/* Product Details Page css start */

.slick-slide .item img {
    max-width: 100% !important;
}

.breadcrumb-bg {
    background: #e3e3e3;
}

.page-breadcrumb.detailpage {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
}

.page-breadcrumb.detailpage::before {
    display: none;
}

.pro-image-info {
    padding: 10px 0;
}

.pro-image-info .pro-image-info #default {
    text-align: center;
}

.pro-image-info .xzoom-preview {
    box-shadow: none;
    border: 0;
}

.pro-size-info {
    margin-bottom: 15px;
}

.pro-image-info .pricepart p strong#proprice {
    font-size: 18px;
}

.pro-image-info .pro-size-info p {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7d7d7d;
}

.pro-image-info .pro-size-info h1.pro-name {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: #0b3b69;
}

.pro-image-info .pro-size-info span.web-address {
    color: #777;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: normal;
}

.pro-image-info .pro-weight {
    margin: 35px 0 10px;
}

.pro-image-info .pro-weight h5 {
    font-size: 20px;
    font-weight: 700;
}

.pro-image-info .pro-weight label {
    box-shadow: none;
    border: 2px solid #cccccc;
    border-radius: 0;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    color: #0b3b69;
    margin: 4px 8px;
    height: 47px;
    width: 57px;
    line-height: 47px;
    padding: 0;
    text-align: center;
}

.pro-image-info .pro-weight label.active {
    background: #eee7e2;
    outline: none;
}

.pro-image-info .pricepart p {
    font-size: 15px;
    line-height: 24px;
}

.text-green {
    color: #2a9841;
}

.pro-image-info .pricepart p strong {
    margin-left: 5px;
    font-size: 16px;
}

.pro-image-info .pricepart span.price {
    font-size: 41px;
    color: #9c9c9c;
    font-weight: 700;
}

.pro-image-info .cssbtn-part a {
    border: 2px solid #e7511f;
    transition: all 0.7s;
    text-transform: uppercase;
    color: #e7511f;
    font-weight: 700;
    font-size: 18px;
}

.pro-image-info .cssbtn-part {
    text-align: right;
}

.pro-image-info .m-r-15 {
    margin-right: 15px;
}

.pro-image-info .cssbtn-part a {
    padding: 5px 7px;
}

.pro-image-info .cssbtn-part a span i {
    font-size: 18px;
}

.pro-image-info .cssbtn-part a span {
    font-size: 18px;
}

.pro-image-info .cssbtn-part a:hover {
    border-color: transparent;
}

.pro-image-info .cssbtn-part a.cart {
    background: #e7511f;
    border: 2px solid #e7511f !important;
    border-radius: 3px;
}

.btnpm {
    background: #fff;
    color: #0b3b69;
    border: 1px solid #dcdcdc;
    font-size: 12px;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    outline: none !important;
    border-radius: 4px;
}

input.number-input {
    width: 70px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    margin: 0 8px;
}

.pro-image-info .cssbtn-part a.cart span {
    color: #fff;
    transition: all 0.7s;
}

.pro-image-info p.code {
    font-size: 13px;
    color: #0b3b69;
    font-weight: 700;
    text-align: right;
}

h3.additional-tlt {
    font-size: 20px;
    font-weight: 600;
    color: #0b3b69;
    margin: 10px 0;
    padding: 10px 0;
}

table.pro-info {
    margin: 20px auto;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 4px #bdbdbd;
}

table.pro-info th {
    background: #f5f5f5;
    color: #0b3b69;
    font-weight: 600;
    width: 300px;
}


/* .pro-detil-additional-info .details-text {
    margin: 41px 0 20px;
} */

.pro-detil-additional-info .details-text p {
    font-size: 16px;
    font-weight: 400;
    color: #4e4e4e;
    margin-bottom: 60px;
}

.pro-weight .btn-group {
    display: inline-block !important;
}

table.table.pro-info .table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px 15px;
    line-height: 33px;
}

.you-may-like h2 {
    font-size: 41px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin: 30px 0 50px;
    padding: 0;
}

.small-product-image .item {
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 5px;
}

.main-image {
    height: 100%;
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 10px;
}

.main-image .slick-slide img {
    margin: auto !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

button.slick-arrow {
    background: transparent;
    border: none;
    color: #777;
    text-align: center;
    width: 100%;
    font-size: 20px;
    outline: none;
}

button.slick-arrow:focus {
    outline: none;
    border: none;
}

button.slick-arrow:hover {
    color: #0b3b69;
}

.owlCarousel .item:last-child {
    margin-bottom: 0;
}


/* Product details page css end */


/* ------ Footer Link Part CSS start ------ */

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.sm-up-heide {
    display: none;
}

.footer-link .cnt-detail ul li {
    color: #888888;
    font-size: 14px;
    font-weight: 700;
    margin: 33px 0;
    position: relative;
    padding-left: 25px;
}

.footer-link .cnt-detail ul li span {
    color: #e7511f;
    left: 0px;
    position: absolute;
    font-size: 17px;
    top: 0;
}

.footer-link .cnt-detail ul li span.fa-mobile {
    font-size: 25px;
}

.footer-link h5.footlink-tlt {
    color: #e7511f;
    font-weight: 700;
    margin: 15px 0;
    font-size: 21px;
    margin-bottom: 37px;
}

.footer-link .cnt-detail ul li a {
    color: #888888;
    font-size: 14px;
    font-weight: 700;
}

.footer-link .cnt-detail ul li a:hover {
    color: #0b3b69;
}

.footer-link .sitmap ul li {
    margin: 10px 0;
    position: relative;
    padding-left: 18px;
}

.footer-link .sitmap ul li a {
    color: #888888;
    font-weight: 14px;
    font-weight: 700;
}

.footer-link .sitmap ul li a:hover {
    color: #e7511f;
}

.footer-link .sitmap ul li::after {
    position: absolute;
    left: 0;
    top: 2px;
    content: "\f111";
    font-family: FontAwesome;
    font-size: 11px;
    color: #e7511f;
}

.footer-link .shop ul li {
    color: #888888;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.footer-link .shop ul li a {
    color: #888888;
    font-weight: 14px;
    font-weight: 700;
}

.footer-link .shop ul li a:hover {
    color: #0b3b69;
}

.footer-link .about ul li {
    color: #888888;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.footer-link .about ul li a {
    color: #888888;
    font-weight: 14px;
    font-weight: 700;
}

.footer-link .about ul li a:hover {
    color: #0b3b69;
}

.footer-link .footer-form .form-control {
    border-radius: 0;
    border-color: #f0f0f0;
    color: #999999;
    font-size: 14px;
}

.footer-link .footer-form .form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(169, 137, 112, 0.56);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(169, 137, 112, 0.26);
}

.footer-link .footer-form input::placeholder {
    color: #999999;
    font-size: 14px;
}

.footer-link .footer-form .btn-part {
    text-align: right;
}

.footer-link .footer-form .btn-part .subscribe {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #e7511f;
    border-radius: 0;
    transition: all 0.7s;
}

.footer-form .btn-part .subscribe:hover {
    color: #fff;
    background: #e7511f;
}


/* Accordion css Responsive */

.footer-link .panel {
    border-bottom: 1px solid #0b3b69;
    box-shadow: none;
}

.footer-link .panel-heading {
    border-radius: 0;
    border: none;
    padding: 0;
}

.footer-link .panel-title a {
    display: block;
    position: relative;
    color: #0b3b69;
    font-weight: 700;
    margin: 15px 0;
    font-size: 21px;
    margin-bottom: 17px;
}

.footer-link .panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
}

.footer-link .panel-body {
    background: #fff;
    padding: 0;
    border: 0;
}

.footer-link .panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.footer-link .panel-heading a:before {
    content: '\f107';
    font-size: 24px;
    position: absolute;
    font-family: FontAwesome;
    right: 5px;
    top: 3px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

.footer-link a.collapsed:before {
    transform: rotate(0deg);
}


/* Accordion css Responsive */


/* ------ Footer Link Part CSS end ------ */


/* ------ Footer Part CSS start ------ */

footer {
    background: #f5f1ee;
    text-align: center;
    padding: 22px 0;
}

footer p {
    color: #afaeae;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}


/* ------ Footer Part CSS end ------ */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    /* transition: all 0.7s; */
    animation: slide-down 0.7s;
}

.sticky .top-header .search-cart {
    top: 7px;
}

.sticky .top-header .search-cart ul li {
    font-size: 17px;
    padding: 0 7px;
    border-width: 1px;
}

.sticky .menu-part {
    /*box-shadow: 0px 3px 1px rgb(0 0 0 / 8%);*/
}

.sticky .searchbox {
    height: 27px;
    min-width: 27px;
}

.sticky .searchbox-input {
    top: 0;
    height: 27px;
    font-size: 14px;
}

.sticky .searchbox-icon,
.sticky .searchbox-submit {
    width: 27px;
    height: 27px;
    top: 0;
}

.sticky .searchbox-icon,
.sticky .searchbox-submit {
    width: 27px;
    height: 27px;
    font-size: 19px;
}


/* new css start 13-08 */

.btn {
    outline: none !important;
    border: none !important;
    border-radius: 2px !important;
}

.btn-primary {
    background-color: #0b3b69 !important;
}

.btn-primary:hover {
    background-color: #06203a !important;
}

.btn-secondary {
    background-color: #fff !important;
    color: #e7511f !important;
    font-weight: bold;
    font-size: 16px;
}

.btn-secondary:hover {
    background-color: #e7511f !important;
    color: #ffffff !important;
}

.text-orange {
    color: #e7511f !important;
}

.text-blue {
    color: #0b3b69 !important;
}

.form-control:focus {
    border: 1px solid #f9d1c4 !important;
}

input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.carousel-caption {
    top: 34% !important;
    bottom: auto !important;
    right: 10% !important;
    bottom: 20px !important;
    left: auto !important;
}

.carousel-caption span {
    font-size: 40px;
    letter-spacing: 1.5px;
    color: #ffffff;
    padding: 5px;
}

.carousel-caption hr {
    background-color: #e7511f;
    width: 90px;
    height: 2px;
    margin: 15px auto;
}

.carousel-caption p {
    color: #fbfbfb;
    font-weight: bold;
}

.search.none {
    display: none;
}


/* login modal css start */

.login-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.login-right {
    background-color: #f9f9f9;
    position: relative;
    z-index: 1;
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
}

.login-right input {
    height: 38px;
    font-size: 14px;
}

.login-right button {
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.login-bg {
    background-image: url(../images/login-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login-modal .modal-dialog,
#register-modal .modal-dialog {
    min-width: 650px;
}

#login-modal button.close,
#register-modal button.close {
    font-size: 30px;
}

#login-modal .close:hover,
#register-modal .close:hover {
    color: #ffffff;
}

.register-now {
    font-size: 13px;
    margin-top: 10px;
}


/* login modal css end */

.fine-jewellery .single-product li,
.fine-jewellery .single-product li figure {
    height: 280px;
}


/* contact us page css start */

.contact-page {
    padding: 40px 0;
}

.contact-page h2 {
    color: #e7511f;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-page span {
    color: #0b3b69;
    margin: 10px 0;
    font-weight: 600;
    font-size: 16px;
}


/* contact us page css end */


/* my order page start */

.suggested-product {
    padding: 40px 0;
}

.my-order-main {
    padding: 40px 0;
}

.pro-delete-icn {
    padding: 0 20px;
}

.my-order-main table tr td .pro-delete-icn span {
    color: #e7511f;
    font-size: 15px;
    font-weight: bold;
}

.my-order-main .cart-listing .table-responsive {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 20px;
}

.col-md-12.col-lg-4.checkout-cart {
    padding: 0;
}


/* my order page end */


/* header css start */

.sidenav,
.address-modal {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #fafcff;
    overflow-x: hidden;
    transition: all 0.2s;
    box-shadow: 0px 0px 10px #949393;
}

.sidenav {
    left: 0;
}

.address-modal {
    right: 0;
    z-index: 1111;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    color: #0b3b69;
}

button.ao-buttons {
    background: transparent;
    border-radius: 3px;
    width: 49%;
    padding: 5px;
    box-shadow: none;
    margin: 10px 0;
}

.side-nav-list {
    padding: 15px;
}

.side-nav-item {
    display: block;
    margin: 15px 0;
    padding: 0;
}

.side-nav-link {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.slide-in {
    left: 0;
}

.sidenav h3 {
    color: #0b3b69;
    font-weight: bold;
}

.contact-us a {
    color: #0b3b69;
}

.contact-us a:hover {
    color: #0b4e8d;
}

button.navbar-toggler {
    color: #0b3b69;
    border: 1px solid #0b3b69;
    border-radius: 0;
}

.logo span {
    color: #ffffff;
    font-size: 28px;
    padding: 0px 6px;
    background: #e7511f;
    border-radius: 4px;
}

.logo strong {
    color: #0b3b69;
    font-weight: 900;
}

.logo p {
    color: silver;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.top-orange .contact a {
    color: #ffffff;
    padding: 15px;
    font-size: 14px;
}

.bottom-header {
    background-color: #0b3b69;
}

.bottom-header a.nav-link {
    color: #fff;
    font-weight: 600;
}

.other-links ul.nav li.nav-item a.nav-link {
    font-size: 15px;
}

.contact a {
    font-size: 13px;
}

.other-links ul.nav li.nav-item a.nav-link {
    color: #0b3b69;
    font-weight: bold;
    background-color: transparent;
}


/* .search {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ebebeb;
} */

.other-links-1 {
    text-align: right;
    width: 140px;
    font-weight: bold;
}

.search .input-group-append {
    margin-left: -2px !important;
    z-index: 2;
    position: relative;
}

.search .input-group input.form-control {
    height: auto;
    padding: 10px 15px;
    border-radius: 3px;
    min-width: 580px;
    font-size: 14px;
    border: 1px solid #ebebeb !important;
    outline: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.search .input-group .input-group-append span.input-group-text {
    border-radius: 4px !important;
    border: none !important;
    background-color: #e7511f !important;
}

.search .input-group .input-group-append span.input-group-text:hover {
    background-color: #0b3b69 !important;
}

.input-group-text {
    border: none !important;
    padding: 8.5px 15px !important;
    font-size: 14px !important;
}

.input-group-text a {
    font-weight: bold;
    font-size: 14px;
    color: #fff !important;
}

.input-group input {
    border-color: #efefef !important;
    border: none !important;
}

.input-group input::placeholder {
    color: #777777;
}

.other-links {
    position: relative;
}

a.nav-link.cart-hover {
    color: #4e4e4e;
}


/* .cart-image {
    float: left;
    background-image: url(../images/cart-header.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 40px;
    width: 40px;
}

.cart-image:hover {
    background-position: right;
} */

.cart-image i {
    font-size: 30px;
    color: #e7511f;
    margin-right: 10px;
}

.cart-image i:hover {
    color: #0b3b69;
}

span.count {
    position: absolute;
    top: -7px;
    background: #e7511f;
    color: #fff;
    padding: 6px 9px;
    line-height: 1;
    border-radius: 50%;
    font-size: 13px;
}

a>.cart-hover-dropdown {
    background-color: #fff;
    display: none;
    position: absolute;
    right: 20px;
    top: 150px;
    width: 400px;
    padding: 15px;
    box-shadow: 0px 0px 5px #828282;
    z-index: 999;
    transition: all 0.4s;
    border-radius: 3px;
}

.cart-hover-dropdown:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e7511f;
    position: absolute;
    right: 0;
    left: 0;
    top: -10px;
    margin: auto;
}

a.nav-link.cart-hover:hover>.cart-hover-dropdown {
    display: block;
}

.order-header span:first-child {
    color: #707070 !important;
}

.order-header span {
    color: #444 !important;
}

ul.cart-ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.cart-ul li p {
    width: 60%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    color: #424243;
    font-size: 14px;
}

.price-total span {
    color: #0b3b69;
    font-size: 16px;
    margin: 10px 0
}

.price-total p {
    color: #035c03;
    font-size: 13px;
}

.p-to-cart button {
    border: none;
    color: #fff;
    background-color: #0b3b69;
    border-radius: 3px;
    padding: 5px 10px;
}

.cart {
    min-width: 100px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

.cart span.des {
    font-weight: bold;
    color: #0b3b69;
    margin: 0 10px;
    text-transform: uppercase;
}

.cart a span.fa.fa-shopping-cart {
    color: #e7511f;
    font-size: 30px;
}

.cart a span.notify {
    border-radius: 50%;
    color: #e7511f;
    border: 1px solid #e7511f;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 21%;
    top: -18px;
    z-index: 10;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-custom {
    width: 92%;
    margin: auto;
}


/* header css end */


/* banner section css start */

.banner-section .carousel-item {
    height: 300px;
}


/* 
.banner-section .carousel-item:first-child,
.banner-section .carousel-item:nth-child(2),
.banner-section .carousel-item:nth-child(3),
.banner-section .carousel-item:nth-child(4),
.banner-section .carousel-item:nth-child(5),
.banner-section .carousel-item:nth-child(6),
.banner-section .carousel-item:nth-child(7),
.banner-section .carousel-item:nth-child(8),
.banner-section .carousel-item:nth-child(9),
.banner-section .carousel-item:nth-child(10) {
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .carousel-item:first-child,
.banner-section .carousel-item:nth-child(6) {
    background-image: url(../images/ornage-bg.png);
}

.banner-section .carousel-item:nth-child(2),
.banner-section .carousel-item:nth-child(7) {
    background-image: url(../images/sky.png);
}

.banner-section .carousel-item:nth-child(3),
.banner-section .carousel-item:nth-child(8) {
    background-image: url(../images/green.png);
}

.banner-section .carousel-item:nth-child(4),
.banner-section .carousel-item:nth-child(9) {
    background-image: url(../images/grey-bg.png);
}

.banner-section .carousel-item:nth-child(5),
.banner-section .carousel-item:nth-child(10) {
    background-image: url(../images/green-1.png);
} */

.banner-section .carousel-item img {
    width: 100vw !important;
    min-height: 100%;
    max-width: 100vw;
    max-height: 100%;
    min-width: 100vw;
    object-fit: fill;
}

.carousel-caption .btn-secondary {
    background-color: #ffffff !important;
    color: #0b3b69 !important;
    font-weight: bold !important;
    font-size: 15px !important;
    padding: 8px 20px!important;
}


/* banner css end */


/* product section start */

.single-product li {
    display: block;
    min-height: 288px;
    position: relative;
    overflow: hidden;
    margin: 5px 0;
    box-shadow: 1px 1px 5px #bdbdbd;
    color: #0b3b69;
    border-radius: 4px;
}

figcaption {
    padding: 7px 10px;
    border-top: 1px solid #dcdcdc;
}

.prod-form {
    margin: 8px 0 0!important;
}

.prod-form .form-control {
    height: 35px !important;
}

.qtn-class input {
    width: 50px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #dcdcdc;
}

.add-to-cart-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-to-cart-div button {
    outline: none;
    background-color: #e7511f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}

.single-product li:hover figure .product-img {
    background-color: rgb(255 255 255 / 50%);
}

.single-product li:hover figure .add-card-btn {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.single-product li:hover .product-hvr-content {
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.single-product li figure {
    position: relative;
    min-height: 288px;
}

.single-product li figure .product-img {
    background-color: #f9f9fb;
    display: block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}

.single-product img.img-fluid {
    max-width: unset;
    /* width: 100%; */
    height: 200px;
}

.single-product li figure .add-card-btn {
    background: #0b3b69;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-quantity.pro-main input#number {
    border: none;
    width: 40px;
    text-align: center;
}

.single-product li figure .add-card-btn i {
    font-size: 24px;
}

.single-product li figure .add-card-btn span {
    margin-right: 5px;
}

.single-product li .product-title {
    color: #0b3b69;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-product li .product-title a {
    color: #333;
    font-size: 15px;
    text-transform: capitalize;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 60%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.single-product li .product-price {
    font-size: 15px;
}

.single-product li .product-price del {
    margin-left: 5px;
}

.single-product li .product-hvr-content {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.single-product li .product-hvr-content a {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    color: #e7511f;
}

.single-product li .badge {
    position: absolute;
    top: 3%;
    left: -7px;
    color: #fff;
    font-size: 13px;
    border-radius: 0;
}

.single-product li .sale {
    background-color: transparent;
}

.single-product li .sale img {
    width: 70px;
    height: auto;
}

.single-product li .sold-out {
    background-color: #FF0000;
}

.single-product li .hot {
    background-color: #ff6600;
}


/* product css end */


/* support css start */

.support {
    background-color: #e7511f;
    color: #ffffff;
    padding: 10px 0;
}

.support span {
    font-size: 40px;
}

.support h5 {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}


/* support css end */

.offer-section {
    padding: 10px 0;
    background-color: #fdeae3;
}

.space-margin {
    margin-top: 20px;
}

.offer-single-product {
    background-color: #fff;
    border-radius: 5px;
    padding: 1px;
    position: relative;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.offer-single-product:hover {
    box-shadow: 0px 0px 16px #dcdcdc;
}

.offer-single-product::before {
    content: "";
   /* background-image: url(../images/offer_bg.png);*/
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: brightness(3);
}

span.special-ofr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.offer-single-product h4 {
    color: #0b3b69;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.offer-single-product img {
    height: 200px;
    width: 200px;
    overflow: hidden;
}


/* news css start */


/* .news {
    background-color: #0b3b69;
    padding: 40px 0 10px;
} */

.news-latter {
    background-color: #fff;
    padding: 30px;
    margin: -114px 0 20px;
    text-align: center;
    z-index: 2;
    position: relative;
    border: 1px solid #dcdcdc;
}

.news-latter h2 {
    color: #0b3b69;
    text-transform: capitalize;
    font-weight: bold;
}


/* news css end */


/* footer css start */

footer {
    position: relative;
    background-image: url(../images/bg.jpg);
    padding: 40px 0 20px;
    color: #fff;
    margin-top: -1px;
    text-align: left;
}

button.btn-play-store,
button.btn-app-store {
    background-size: 100%;
    width: 160px;
    height: 46px;
    border-radius: 7px !important;
    margin: 10px;
}

button.btn-play-store {
    background-image: url('../images/play-store.jpg');
}

button.btn-app-store {
    background-image: url('../images/app-store.jpg');
}

footer:before {
    content: "";
    background-color: #0b3c69d6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

footer li {
    display: block;
    margin: 0 0;
}

footer li a {
    color: #ffffff;
    font-size: 15px;
    transition: all 0.5s;
}

footer li a:hover {
    color: #b7b5b5;
}

footer li a:active,
footer li a:focus {
    color: #b7b5b5 !important;
}

footer .contact a {
    font-size: 15px;
    letter-spacing: 1px;
}

footer .contact a,
.footer-social a {
    color: #ffffff;
}

.footer-social {
    margin-top: 10px;
}

.footer-social ul {
    display: inline-flex;
}

.footer-social ul li {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.footer-top hr {
    width: 50px;
    background-color: #fff;
    margin-left: 0;
    height: 1px;
}

.contact-page .footer-social ul li {
    border: 1px solid #0b3b69;
}

.social-icon-header ul {
    margin: 0;
    padding: 0;
}

.social-icon-header ul li {
    display: inline-block;
}

.social-icon-header ul li a {
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}


/* footer css end */


/* checkout cart Page Css Start */

.checkout-cart {
    padding: 25px 0;
}

.login-register-cart h2 {
    color: #e7511f;
}

.nav-tabs {
    border-bottom: 1px solid transparent !important;
}


/* .checkout-cart .tabs-data .tab-content{padding: 15px 0;} */

.tab-content,
.top-categories {
    padding: 40px 0 20px;
}

.top-categories h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.top-categories .nav-pills .nav-link.active,
.top-categories .nav-pills .show>.nav-link {
    background-color: #0b3b69 !important;
}

.top-categories .nav-pills .nav-link {
    border-radius: 0;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    color: #0b3b69;
}

.top-categories .nav-pills .nav-link.active:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #0b3b69;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -10px;
    top: 0;
}

.checkout-cart .tabs-data li a {
    display: flex;
    align-items: center;
    border: none;
}

.checkout-cart .tabs-data li a span {
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.checkout-cart .tabs-data li:before {
    content: "";
    width: 50px;
    background: #8d8d8e;
    height: 1px;
    position: absolute;
    left: -44px;
    top: 50%;
}

.checkout-cart .tabs-data li:first-child:before {
    display: none;
}

.checkout-cart .tabs-data li.active a span i {
    color: #0b3b69;
}

.checkout-cart .tabs-data li a span {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.checkout-cart .tabs-data li a span i {
    font-size: 28px;
    color: #8d8d8e;
}

.checkout-cart .tabs-data ul {
    text-align: center;
}

.checkout-cart .tabs-data li {
    margin-bottom: 0;
    display: inline-block;
    margin: 0 20px;
    border-radius: 5px;
}

.checkout-cart .login-signup {
    margin: 14px 0;
}

.checkout-cart .tabs-data li a:focus,
.checkout-cart .tabs-data li a:hover {
    background: #f9f9f9;
    border: none;
}

.checkout-cart .panel-group .panel {
    text-align: left;
}

.checkout-cart .panel-title a span {
    display: none;
}

.checkout-cart .panel-title a p {
    margin: 0;
}

.checkout-cart .tab-login-signin {
    padding: 15px 0;
}

.checkout-cart .tab-login-signin h2 {
    font-size: 22px;
    color: #e7511f;
    font-weight: 600;
    margin: 15px 0;
}

.checkout-cart .tab-login-signin label {
    color: #424243;
    font-size: 15px;
    font-weight: 500;
}

.checkout-cart .tab-login-signin .form-control {
    outline: none;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 10px 15px;
}

button.cart-login {
    background-color: #0b3b69;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
}

.login-register-cart {
    padding: 0 20px;
}


/* .cart-listing {
    margin-top: 15px;
    border: 1px solid #ececec;
    padding: 10px;
} */

.cart-listing h2 {
    font-size: 18px;
    color: #e7511f;
    margin: 15px 0;
    font-weight: 600;
}

.checkout-cart .tab-login-signin .form-control:focus {
    border-color: #bba58c;
}

.checkout-cart .tab-login-signin .or-div {
    text-align: center;
}

.checkout-cart .tab-login-signin .or-div span {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    line-height: 35px;
    color: #fff;
    background: #bba58c;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 115px;
}

.checkout-cart .subscribe {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #333333;
    border-radius: 0;
    transition: all 0.7s;
    border: 1px solid #333333;
}

.checkout-cart .subscribe:hover {
    color: #fff;
    border: 1px solid #a98970;
    background: #a98970;
}

.checkout-cart .coupon-code .subscribe {
    background: #a98970;
    border: 1px solid #a98970;
    padding: 9.4px 20px;
}

.checkout-cart .coupon-code .subscribe:hover {
    border: 1px solid #333333;
    background: #333333;
}

.checkout-cart .cart-listing table tr td .pro-prise {
    padding: 0;
}

.checkout-cart .cart-listing table tr td .pro-description h4 {
    font-size: 15px;
    font-weight: 600;
    max-width: 450px;
    min-width: 280px;
}

.pro-description h4 {
    font-weight: bold;
    color: #0b3b69;
}

.checkout-cart .cart-listing table tr td .pro-delete-icn span {
    color: #e7511f;
}

.checkout-cart .cart-listing table tr td .pro-delete-icn span i {
    font-size: 20px;
}

.checkout-cart .cart-listing table tr td .pro-delete-icn span.wishlists {
    border: 1px solid #a98770;
}

.checkout-cart .cart-listing table tr td .pro-delete-icn span.wishlists i {
    color: #a98770;
}

.cart-listing .pro-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 30%;
    margin: 10px 20px;
}

.cart-heading h3 {
    color: #4c4d4e;
    font-weight: bold;
}

.cart-listing .pro-image img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.cart-listing thead th {
    color: #848484;
    padding: 15px 0;
}

.cart-inner {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.cart-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

a.qty.qty-minus,
a.qty.qty-plus {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin: 5px 10px;
    background: #0b3b69;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro-quantity {
    display: flex;
    justify-content: center;
}

.pro-quantity span {
    font-size: 20px;
}

.pro-quantity input[type="numeric"] {
    width: 50px;
    border: 1px solid #d8d8d8;
    padding: 5px 10px;
    text-align: center;
}

.checkout-cart .coupon-code {
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 4px;
}

.checkout-cart .coupon-code h3 {
    font-size: 17px;
    font-weight: 700;
    color: #0b3b69;
    margin-bottom: 15px;
}

.cart-code input.form-control,
.cart-code span.input-group-text {
    font-size: 14px;
}

.checkout-cart .input-group.pl44 input.form-control {
    position: relative;
    padding-left: 44px;
}

.checkout-cart .input-group.pl44 i {
    position: absolute;
    top: 5px;
    left: 13px;
    color: #ccc;
    font-size: 30px;
    z-index: 9;
}

.checkout-cart .coupon-code .form-control {
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 41px;
}

.checkout-cart .coupon-code .form-control:focus {
    border-color: #bba58c;
}

.checkout-cart .coupon-code .cart-right-total {
    /* border-top: 1px solid #eaeaea; */
    margin-top: 10px;
}

.checkout-cart .coupon-code .cart-right-total table {
    width: 100%;
}

.checkout-cart .coupon-code .cart-right-total table tr td {
    padding: 10px 0;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 500;
}

.checkout-cart .coupon-code .cart-right-total table tr td h6 {
    font-size: 14px;
    color: #393939;
    font-weight: 700;
    margin: 0;
}

.checkout-cart .coupon-code .cart-right-total table tr td span {
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 400;
    margin: 0;
}

.checkout-cart .coupon-code .cart-right-total table tr td .prise span {
    color: #0b3b69;
    font-size: 18px;
    font-weight: 700;
}

.checkout-cart .coupon-code .cart-right-total table tr td .prise p {
    color: #2a9841;
    font-size: 13px;
    margin-bottom: 0;
}

.checkout-cart .coupon-code .emi-text p {
    font-size: 13px;
    color: #4d4d4d;
    font-weight: 400;
    margin: 15px 0;
}

.checkout-cart .coupon-code .place-order .subscribe {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #a98970;
    border-radius: 0;
    transition: all 0.7s;
    border: 1px solid #a98970;
    width: 100%;
    /* text-transform: uppercase; */
}

.checkout-cart .coupon-code .place-order .subscribe:hover {
    color: #fff;
    border: 1px solid #333333;
    background: #333333;
}

.checkout-cart .free-shoping p {
    color: #b6b6b6;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0;
}

.checkout-cart .delivery-details .coupon-code .cart-right-total {
    margin-top: 0;
}

.checkout-cart .delivery-details h2 {
    font-size: 20px;
    color: #e7511f;
    font-weight: 700;
    margin: 15px 0;
}

.checkout-cart .delivery-details .subscribe {
    background: #a98970;
    border: 1px solid #a98970;
    padding: 9.4px 20px;
    font-size: 18px;
    font-weight: 700;
}

.checkout-cart .delivery-details .subscribe:hover {
    border: 1px solid #333333;
    background: #333333;
}


/* checkbox css start */

.checkout-cart .checkbox {
    padding-left: 20px;
}

.checkout-cart .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkout-cart .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkout-cart .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkout-cart .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkout-cart .checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkout-cart .checkbox input:focus {
    outline: none;
    box-shadow: none;
}

.checkout-cart .checkbox input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkout-cart .checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkout-cart .checkbox.checkbox-inline {
    margin-top: 0;
}

.checkout-cart .checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #baa48b;
    border-color: #baa48b;
}

.checkout-cart .checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}


/* checkbox css end */


/* Radio btn css start */

.checkout-cart .radio {
    margin: 0.5rem;
}

.checkout-cart .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.checkout-cart .radio input[type="radio"]+.radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.checkout-cart .radio input[type="radio"]:checked+.radio-label:before {
    background-color: #0b3b69;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.checkout-cart .radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    border-color: #0b3b69;
}

.checkout-cart .radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.checkout-cart .radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}


/* Radio btn css End */

.checkout-cart .payment-method h2 {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    margin: 15px 0;
}

.checkout-cart .payment-method table {
    width: 100%;
    vertical-align: text-top;
    border-bottom: 1px solid #f2f3f5;
    margin-bottom: 30px;
}

.checkout-cart .payment-method table tr:hover {
    background: #f2f2f2;
}

.checkout-cart .payment-method table tr.active {
    background: #f2f2f2;
}

.checkout-cart .payment-method table tr td {
    padding: 35px 0;
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 500;
    vertical-align: text-top;
}

.checkout-cart .payment-method table tr td .pay-detail {
    min-width: 300px;
}

.checkout-cart .payment-method table tr td .pay-detail h5 {
    margin: 0;
    margin-bottom: 15px;
    color: #0b3b69;
    font-size: 18px;
    font-weight: 600;
}

.checkout-cart .payment-method table tr td .pay-detail p {
    color: #908d8a;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.checkout-cart .payment-method .img-icn img {
    min-width: 150px;
}

.checkout-cart .payment-method label {
    text-transform: uppercase;
    font-size: 12px;
    color: #151f3c;
    font-weight: 700;
}

.checkout-cart .payment-method .form-control {
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 41px;
}

.checkout-cart .payment-method .form-control:focus {
    border-color: #bba58c;
}

.checkout-cart .payment-method .subscribe {
    background: #a98970;
    border: 1px solid #a98970;
    padding: 9.4px 20px;
    margin-bottom: 15px;
    width: 100%;
}

.checkout-cart .payment-method .subscribe:hover {
    border: 1px solid #333333;
    background: #333333;
}

.d-flax {
    display: flex;
}

.m-auto {
    margin: auto 0 0;
}

.checkout-cart .payment-method .input-group.pr55 {
    width: 100%;
}

.checkout-cart .payment-method label span {
    font-size: 18px;
    margin-left: 7px;
    color: #cccccc;
}

.checkout-cart .payment-method .input-group.pr55 input.form-control {
    position: relative;
    padding-right: 44px;
}

.checkout-cart .payment-method .input-group.pr55 i {
    position: absolute;
    top: 5px;
    right: 13px;
    color: #ccc;
    font-size: 30px;
    z-index: 9;
}

.order-address {
    position: relative;
    padding: 20px;
    border: 1px solid #ececec;
    border-radius: 4px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.order-address h3 {
    color: #333333;
    margin-bottom: 15px;
    font-weight: bold;
}

.order-address .radio {
    position: absolute;
}

.order-address .pay-detail {
    padding-left: 70px;
    max-width: 250px;
}

.address-modal .order-address .radio {
    position: absolute;
    left: 10px;
    top: 25%;
}

.address-modal .order-address {
    border: none;
    background-color: #fff;
}

.address-modal.order-address .pay-detail {
    padding-left: 50px;
    max-width: unset;
}

.pay-detail h5 {
    font-weight: bold;
    color: #0b3b69;
    font-size: 16px;
}

button.def-add {
    background-color: #ff3636;
    border: none;
    border-radius: 2px !important;
    padding: 4px 8px;
    color: #fff;
    outline: none !important;
}

.change-add button {
    background-color: #0b3b69;
    border: none;
    padding: 10px 15px;
    color: #fff;
    float: right;
    border-radius: 2px;
    margin-top: 20px;
}

.grey-modal-button {
    background-color: #eaeaea;
    color: #333;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 10px;
}

h3.date-deli {
    color: green;
    font-weight: bold;
}

.imp-notice {
    background-color: #fdeed2;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 15px;
}

.imp-notice h3 {
    font-weight: bold;
    color: #222222;
    font-size: 16px;
}

.imp-notice p {
    color: #333333;
}


/* Checkout Cart Page Css End */


/* user profile css start */

.left-profile {
    padding: 20px;
    border-radius: 5px;
    background-color: #0b3b69;
    position: relative;
}

.profile-main {
    padding: 40px 0;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 20px;
}

.profile-pic img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.left-profile h4 {
    color: #0b3b69;
    margin: 10px 0;
    font-weight: bold;
}

.name-info {
    padding-left: 120px;
    display: flex;
    flex-direction: column;
}

.name-info h4 {
    color: #fff;
    font-size: 20px;
}

.name-info p {
    margin: 0;
    color: #dcdcdc;
}

button.profile-left-button {
    width: 100%;
    margin: 5px 0;
    color: #fff;
    background: #ffffff45;
    padding: 10px 7px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.user-info {
    padding: 20px;
    border: 1px solid #ececec;
    box-shadow: 2px 2px 10px #dcdcdc;
    border-radius: 5px;
}

.user-info ul li {
    padding: 16px 0;
    border-bottom: 1px solid #dcdcdc;
}

.user-info ul li:last-child {
    border: none;
}

.user-info ul li a {
    color: #0b3b69;
    width: 100%;
    font-weight: bold;
}

.user-info h3 {
    font-weight: bold;
    color: #e7511f;
    margin: 10px 0;
}

.user-info span {
    color: #333;
    margin: 10px 0;
}

.user-info p {
    color: #0b3b69;
    margin: 10px 0;
    font-weight: 600;
}

.user-info .row .col-2 {
    display: flex;
    align-items: center;
}


/* user profile css end */


/* login page css start */

.login-register {
    padding: 40px 0;
}

.login-register h2 {
    font-weight: bold;
    margin-bottom: 15px;
}

.login-card {
    box-shadow: 1px 1px 12px #dcdcdc;
    padding: 50px;
    height: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
}

.login-card button {
    margin-bottom: 15px;
}

.login-card input {
    margin-bottom: 15px;
    padding: 8px 10px 8px 50px;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    width: 70%;
}

.login-card.sign-up-card label,
.login-card.otp-card label {
    position: absolute;
    top: 23px;
    left: 10px;
}

.label-no {
    position: relative;
}

.login-card h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
    color: #0b3b69;
}

.login-card button.btn.btn-default.cart-login {
    border-radius: 50% !important;
    font-size: 30px;
    line-height: 0;
}

.login-banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
}

.login-banner img {
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
}


/* login page css end */


/* responsive css start */

@media(max-width:1366px) {
    .pro-image-info .cssbtn-part a span {
        font-size: 15px;
    }
}

@media(max-width:1199px) {
    .pro-image-info .cssbtn-part a {
        padding: 10px 16px;
    }
    .pro-image-info .pricepart span.price {
        font-size: 30px;
    }
    .pro-image-info .cssbtn-part a span {
        font-size: 15px;
    }
    .pro-image-info .pro-size-info h1.pro-name {
        font-size: 26px;
    }
    .pro-image-info .pro-weight h5 {
        font-size: 18px;
    }
    .pro-detil-additional-info h3.additional-tlt {
        font-size: 22px;
        margin: 20px 0;
    }
    .checkout-cart .tabs-data li a {
        padding: 20px;
    }
    div#CartPreview .table-responsive {
        min-width: 500px;
        /* padding: 10px; */
    }
    .search .input-group input.form-control {
        min-width: 360px;
    }
}

@media(max-width:1024px) {
    .checkout-cart .tabs-data li {
        width: 40%;
        margin-bottom: 10px;
    }
    .checkout-cart .tabs-data li a {
        display: flex;
        align-items: center;
    }
    .checkout-cart .tabs-data li a p {
        margin-left: 8px;
    }
    .checkout-cart .tabs-data ul {
        justify-content: center;
    }
    .pro-description {
        padding: 0 15px;
    }
}

.shop-by-div {
    display: flex;
}

ul.mobile-sub li.active {
    font-weight: bold;
}

ul.mobile-sub li {
    display: inline;
    margin: 5px 10px;
    font-size: 16px;
}

ul.mobile-sub li a {
    color: #0b3b69;
}

ul.mobile-sub li a:hover {
    color: #e75524;
}

.mobile-cat {
    display: none !important;
}

.navbar-nav .open .dropdown-menu>li>a {
    font-size: 15px;
    padding: 10px;
}

@media(max-width:991px) {
    .banner-section .carousel-item img {
        min-height: 40%;
    }
    .banner-section .carousel-item {
        height: 100%;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px !important;
        height: 20px !important;
    }
    ul.mobile-sub li {
        display: inline;
        margin: 5px 10px;
        font-size: 16px;
    }
    .col-md-12.col-lg-4.checkout-cart {
        padding-top: 20px;
    }
    .pro-size-info {
        margin-top: 20px;
    }
    .imp-notice {
        margin: 15px 0;
    }
    .checkout-cart .tabs-data li a {
        padding: 15px;
    }
    .checkout-cart .tabs-data li {
        width: unset;
    }
    .tab-content {
        padding: 20px 0;
    }
    span.menu-pointer {
        position: absolute;
        top: 5px;
        left: 20px;
        z-index: 111;
    }
    .sidenav {
        z-index: 111;
    }
    .bottom-header {
        background-color: transparent;
    }
    .shop-by {
        position: absolute !important;
        right: 0;
    }
    .logo {
        width: 30%;
    }
    .mobile-cat .navbar-header {
        width: 100%;
        display: inline-block;
    }
    button.navbar-toggle {
        border: 1px solid #e7511f;
    }
    .mobile-cat .navbar-toggle .icon-bar {
        background-color: #e7511f;
    }
    .mobile-cat .navbar-nav>li>a {
        font-size: 16px;
        color: #0b3b69;
    }
    .mobile-cat .navbar-nav>li {
        border-bottom: 1px solid #dcdcdc;
    }
    .navbar-header a img {
        max-width: 120px;
        float: left;
    }
    .top-orange {
        display: none !important;
    }
    .cart,
    .logo {
        display: none;
    }
    /* .search .input-group input.form-control {
        min-width: unset;
    } */
    table td {
        padding-left: 10px;
        padding-right: 10px;
    }
    .checkout-cart .tabs-data li a span i {
        font-size: 25px;
    }
    .support h5 {
        font-size: 15px;
    }
    .news-latter h2 {
        font-size: 18px;
    }
    footer h4 {
        font-size: 16px;
    }
    .footer-social ul li {
        height: 32px;
        width: 32px;
    }
    .single-product img.img-fluid {
        height: 190px;
    }
    .single-product li figure .add-card-btn {
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .checkout-cart .coupon-code {
        margin-top: 20px;
    }
    .empty-message img {
        height: 130px;
    }
    .empty-message p {
        font-size: 20px;
    }
    .checkout-cart .tabs-data li:before {
        display: none;
    }
    .other-links-1 {
        display: none;
    }
    .shop-by {
        margin-left: 15px !important;
    }
    .shop-by-div p {
        display: none;
    }
}

@media(max-width:767px) {
    .mobile-cat {
        display: block !important;
    }
    .shop-by-div {
        display: none;
    }
    .logo.d-flex.align-items-center {
        display: none !important;
    }
    .other-links-1 {
        display: none;
    }
    /* .banner-section .carousel-item img {
        width: 330px !important
    } */
    .carousel-caption span {
        font-size: 30px;
    }
    .checkout-cart .tabs-data li {
        margin: 0 12px;
    }
    .login-right {
        min-height: 350px;
        min-width: 300px;
        width: 300px;
        margin: auto;
    }
    #login-modal .modal-dialog {
        min-width: 500px;
    }
    .pro-detil-additional-info .details-text p {
        font-size: 14px;
    }
    .search .input-group input.form-control {
        min-width: 70%;
    }
    .checkout-cart .tabs-data li a {
        padding: 0px;
    }
    .checkout-cart .tabs-data li a p {
        font-size: 13px;
    }
    .side-nav .hamburger {
        top: 12px;
    }
    h3.product-head {
        font-size: 22px;
    }
    .cart-heading {
        font-size: 16px;
    }
}

@media(max-width:575px) {
    .center-search-link {
        min-width: 100%;
        display: unset;
        text-align: center;
        margin: auto;
    }
    .logo {
        justify-content: center;
    }
    .top-header {
        display: block;
    }
    .logo {
        width: 100%;
    }
    .logo .main-logo {
        width: 120px;
        margin-bottom: 10px;
    }
    .wsmenu {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .login-register-cart form {
        margin-top: 15px;
    }
    .login-register-cart {
        margin-top: 20px;
    }
    /* .banner-section .carousel-item img {
        margin: -40px auto 0;
    } */
    .carousel-caption {
        top: auto !important;
        right: 0% !important;
        bottom: 20px !important;
        left: 0!important;
    }
    h3.product-head {
        font-size: 20px;
    }
    .input-group-addon {
        background-color: transparent;
        border: none;
    }
    div#CartPreview .table-responsive {
        min-width: 100%;
    }
    .cart-listing {
        padding: 0;
    }
    .checkout-cart .tabs-data li a span i {
        font-size: 16px;
    }
    #login-modal .modal-dialog {
        min-width: 100%;
    }
    .pro-image-info .cssbtn-part a span {
        font-size: 13px;
    }
    .pro-image-info .pricepart span.price {
        font-size: 26px;
    }
    .pro-detil-additional-info h3.additional-tlt {
        font-size: 18px;
    }
    .news-latter h2 {
        font-size: 18px;
    }
    .pro-image-info .pro-size-info h1.pro-name {
        font-size: 22px;
    }
    .pro-image-info .pro-weight {
        margin: 15px 0 10px;
    }
    .pro-image-info .pro-weight h5 {
        font-size: 16px;
    }
    table.pro-info th {
        width: 200px;
    }
    .support span {
        font-size: 30px;
    }
    .news-latter {
        padding: 30px 10px;
    }
    .my-order-main,
    .suggested-product {
        padding: 20px 0;
    }
    .carousel-caption span {
        font-size: 30px;
    }
    .search .input-group input.form-control {
        min-width: unset;
    }
    .pro-image-info .cssbtn-part {
        text-align: left;
    }
    .pro-image-info .cssbtn-part a {
        margin-bottom: 15px;
    }
    .pro-image-info .pricepart p strong {
        font-size: 20px;
    }
    .login-register {
        padding: 20px 0;
    }
    .login-register h2 {
        margin: 15px 0;
    }
    .change-add button {
        width: 100%;
    }
    .checkout-cart .coupon-code .cart-right-total table tr td .prise span {
        font-size: 18px;
    }
    .checkout-cart .payment-method table tr td .pay-detail {
        min-width: 100%;
    }
}

@media(max-width: 450px) {
    .cart-heading {
        display: block;
    }
    .carousel-caption span {
        font-size: 24px;
    }
    .carousel-caption .btn-secondary {
        font-size: 13px;
    }
    .single-product .col-6,
    .offer-section .col-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .single-product li,
    .offer-single-product {
        width: 280px;
        margin: 10px auto;
    }
    .single-product img.img-fluid {
        width: unset;
    }
    h3.product-head {
        text-align: center;
        font-size: 20px;
    }
    hr.product-head {
        margin: 0 auto;
    }
    .single-product li figure .add-card-btn {
        font-size: 14px;
    }
}

@media(max-width:400px) {
    .checkout-cart .tab-login-signin h2 {
        font-size: 18px;
        margin: 10px 0;
    }
    button.cart-login {
        font-size: 13px;
        padding: 7px 20px;
    }
    .checkout-cart .tab-login-signin .form-control {
        margin-bottom: 10px;
        padding: 10px;
    }
    .news-latter h2,
    .checkout-cart .delivery-details h2,
    .checkout-cart .payment-method h2 {
        font-size: 14px;
    }
    .checkout-cart .coupon-code h3 {
        font-size: 14px;
    }
    .checkout-cart .payment-method table tr td {
        padding: 15px 0;
    }
    .checkout-cart .payment-method table tr td .pay-detail h5 {
        margin-bottom: 8px;
        font-size: 14px;
    }
    .checkout-cart .coupon-code .place-order .subscribe {
        font-size: 14px;
    }
    .login-register-cart {
        padding: 0;
    }
}


/* responsive css end */

.dropdown-menu>li>a:hover {
    background-color: #0b3b69;
    color: #fff;
}

.btn__viewmore {
    border: none;
    background: #0b3b69d9;
    padding: 7px 13px;
    color: white;
    border-radius: 6px;
}


/* about us start */

.about-us-main {
    padding: 80px 0;
}

.about-us-main p {
    color: #676666;
    font-weight: 500;
}
.space-margin .padingnewspacing
{
    padding-right: 0px;
    padding-left: 5px;
}
.single-product .padingnewspacing
{
    padding-right: 0px;
    padding-left: 5px;
}




/* about us end */


/* new css end 13-08 */