@media screen and (min-width:1200px) {
    .footer-link .p-0-res {
        padding: 0;
    }
}

@media screen and (min-width:1600px) and (max-width:1699px) {
    .collectionpart .collection-detail {
        padding: 20px 0 0 48px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 65px;
        margin: 32px 0 27px;
    }
    .collectionpart .cssbtn-part {
        margin-top: 20px;
        margin-bottom: 21px;
    }
    .collectionpart .collection-detail h2:after {
        width: 202px;
    }
}

@media screen and (min-width:1400px) and (max-width:1599px) {
    .collectionpart .collection-detail {
        padding: 20px 0 0 48px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 60px;
        margin: 26px 0 20px;
    }
    .collectionpart .collection-detail h2:after {
        width: 194px;
    }
    .collectionpart .cssbtn-part {
        margin-top: 20px;
        margin-bottom: 21px;
    }
    .collectionpart .cssbtn-part a {
        border: 1.2px solid #000;
    }
    .collectionpart .cssbtn-part a {
        padding: 14px 19px;
    }
    .collectionpart .cssbtn-part span {
        font-size: 14px
    }
}

@media screen and (min-width:1200px) and (max-width:1399px) {
    .collectionpart .collection-detail {
        padding: 20px 0 0 48px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 44px;
        margin: 16px 0 10px;
    }
    .collectionpart .collection-detail h2:after {
        width: 194px;
    }
    .collectionpart .cssbtn-part {
        margin-top: 20px;
        margin-bottom: 26px;
    }
    .collectionpart .cssbtn-part a {
        border: 1.2px solid #000;
    }
    .collectionpart .cssbtn-part a {
        padding: 10px 16px;
    }
    .collectionpart .cssbtn-part span {
        font-size: 13px
    }
}

@media screen and (min-width:1230px) and (max-width:1399px) {
    .collectionpart .collection-detail h1 {
        font-size: 50px;
        margin: 16px 0 10px;
    }
}

@media screen and (min-width:1024px) and (max-width:1199px) {}

@media screen and (min-width:992px) and (max-width:1199px) {
    .footer-link .footer-form .btn-part {
        text-align: center;
        margin-bottom: 15px;
    }
    .footer-form h5.footlink-tlt {
        margin-bottom: 17px;
        margin-top: 29px;
    }
    .collectionpart .collection-detail {
        padding: 9px 0 9px 48px;
    }
    .collectionpart .collection-detail h2 {
        font-size: 28px;
    }
    .collectionpart .collection-detail h2:after {
        width: 190px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 44px;
        margin: 16px 0 10px;
    }
    .collectionpart .cssbtn-part {
        margin-top: 13px;
    }
    .collectionpart .cssbtn-part a {
        padding: 10px 16px;
    }
    .collectionpart .cssbtn-part span {
        font-size: 13px;
    }
    .wsmenu-list>li>a {
        padding: 0px 13px 0 0;
        font-size: 14px;
    }
    .subscribe-text h3 {
        font-size: 33px;
    }
    .subscribe-text h3 span {
        font-size: 19px;
    }
    .product-listing .list-full {
        min-height: 294px;
    }
    .link-list li a {
        font-size: 13px;
    }
}

@media(max-width:991px) {
    .other-links {
        /*display: none;*/
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .footer-link .footer-form .btn-part {
        text-align: center;
        margin-bottom: 15px;
    }
    .footer-link .cnt-detail ul li {
        padding-left: 19px;
    }
    .footer-link ul li {
        font-size: 13px;
    }
    .footer-link ul li a {
        font-size: 13px !important;
    }
    .collectionpart .collection-detail {
        padding: 9px 0 9px 35px;
    }
    .collectionpart .collection-detail h2 {
        font-size: 25px;
    }
    .collectionpart .collection-detail h2:after {
        width: 166px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 42px;
        margin: 15px 0 15px;
    }
    .collectionpart .cssbtn-part {
        margin-top: 13px;
    }
    .collectionpart .cssbtn-part a {
        padding: 10px;
    }
    .collectionpart .cssbtn-part span {
        font-size: 12px;
    }
    .collectionpart .collection-detail p br {
        display: none;
    }
    .collectionpart .collection-detail h1 br.tree-br {
        display: block;
    }
    .collectionpart .collection-detail h1 br.one-br {
        display: none;
    }
    .collectionpart .collection-detail h1 br.two-br {
        display: none;
    }
    .connect-with-us .with-us-tlt h2 {
        font-size: 25px;
        margin-left: 92px;
    }
    .connect-with-us .tlt-main {
        margin: 68px 0;
    }
    .connect-with-us .with-us-tlt h2 span {
        font-size: 50px;
    }
    .connect-with-us .with-us-tlt h2:after {
        font-size: 500px;
        left: -81px;
        top: -57px;
        width: 165px;
        height: 203px;
        background-size: 153px;
    }
    .slider-part {
        margin-top: 52px;
    }
    .respons-menu-logo {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        padding: 15px 0;
        text-align: center;
    }
    .respon-blck {
        display: block;
    }
    .login-signup .form form .CTA {
        text-align: center;
    }
    .login-signup .form form .CTA input {
        display: block;
        margin: 6px auto;
    }
    .login-signup .form form .CTA a.switch {
        text-align: center;
    }
    .subscribe-text h3 {
        font-size: 26px;
    }
    .subscribe-text h3 span {
        font-size: 16px;
    }
    .product-listing .list-full {
        min-height: 220px;
    }
    .link-list li {
        padding: 0 10px;
    }
    .megamenu ul li.title {
        padding: 7px 0 !important;
    }
    .connect-with-us .sosial-icn {
        left: 35%;
        bottom: -37px;
    }
    .connect-with-us {
        padding: 0 0 50px;
    }
    .home-pro-slide {
        padding: 15px 0 50px;
    }
    .home-pro-slide .pro-slide-tlt {
        margin: 45px 0 50px;
    }
    .other-links {
        /*display: none;*/
    }
    .side-nav .hamburger {
        top: 10px;
        left: 15px;
    }
}

@media screen and (max-width:767px) {
    .respon-blck {
        display: block;
    }
    .respons-menu-logo {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        padding: 10px 0;
        text-align: center;
    }
    .slider-part {
        margin-top: 50px;
    }
    .footer-link .footer-form .btn-part {
        text-align: center;
        margin-bottom: 15px;
    }
    .footer-link .cnt-detail ul li {
        padding-left: 19px;
        margin: 15px 0;
    }
    .footer-link h5.footlink-tlt {
        margin-bottom: 18px;
    }
    .connect-with-us {
        padding: 0 0 30px;
    }
    .connect-with-us .tlt-main {
        margin: 128px 0;
    }
    /* .home-pro-slide {padding: 48px 0; } */
    .collectionpart .p-0 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .collectionpart .collection-detail {
        padding: 46px 0 0 50px;
        border-bottom: 1px solid #e8e1da;
    }
    .collectionpart .collection-detail h2 {
        font-size: 25px;
    }
    .collectionpart .collection-detail h2:after {
        width: 165px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 50px;
        margin: 18px 0 18px;
    }
    .collectionpart .cssbtn-part {
        margin-top: 24px;
        margin-bottom: 24px
    }
    .collectionpart .collection-detail h1 br.tree-br {
        display: block;
    }
    .collectionpart .collection-detail h1 br.one-br {
        display: none;
    }
    .collectionpart .collection-detail h1 br.two-br {
        display: none;
    }
    .collectionpart .cssbtn-part a {
        padding: 10px;
    }
    .collectionpart .cssbtn-part span {
        font-size: 14px;
    }
    .collectionpart .collection-detail p br {
        display: none;
    }
    .connect-with-us .with-us-tlt h2 {
        font-size: 20px;
        margin-left: 86px;
    }
    .connect-with-us .tlt-main {
        margin: 68px 0;
    }
    .connect-with-us .with-us-tlt h2 span {
        font-size: 45px;
    }
    .connect-with-us .with-us-tlt h2:after {
        font-size: 500px;
        left: -86px;
        top: -62px;
        width: 160px;
        height: 198px;
        background-size: 148px;
    }
    .connect-with-us .sosial-icn {
        left: 38%;
        bottom: -34px;
    }
    .connect-with-us .sosial-icn ul li {
        margin: 0 4px;
    }
    .connect-with-us .sosial-icn ul li a i {
        height: 35px;
        width: 35px;
        border-radius: 35px;
        line-height: 35px;
        font-size: 17px;
    }
    .sm-down-heide {
        display: none;
    }
    .sm-up-heide {
        display: block;
    }
    .home-pro-slide .pro-slide-tlt h2 {
        font-size: 28px;
    }
    .home-pro-slide .pro-slide-tlt h2::after {
        top: auto;
        right: 14px;
        bottom: -30px;
        text-align: center;
    }
    .home-pro-slide .pro-slide-tlt h2::before {
        left: 13px;
        top: auto;
        bottom: -29px;
        text-align: center;
    }
    .home-pro-slide .pro-slide-tlt {
        margin: 20px 0 70px;
    }
    .home-pro-slide {
        padding: 20px 0 58px;
    }
    .login-signup section#formHolder {
        padding: 0;
    }
    .login-signup section#formHolder div.brand {
        min-height: 200px !important;
    }
    .login-signup section#formHolder div.brand.active {
        min-height: 100vh !important;
    }
    .login-signup section#formHolder div.brand .heading.active {
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-signup section#formHolder div.brand .success-msg p {
        font-size: 16px;
    }
    .login-signup section#formHolder div.brand .success-msg a {
        padding: 5px 30px;
        font-size: 10px;
    }
    .login-signup section#formHolder .form {
        width: 80vw;
        min-height: 500px;
        margin-left: 0;
    }
    .login-signup section#formHolder .form .form-peice {
        margin: 0;
        top: 0;
        left: 0;
        width: 100% !important;
        transition: all 0.5s ease-in-out;
    }
    .login-signup section#formHolder .form .form-peice.switched {
        transform: translateY(-100%);
        width: 100%;
        left: 0;
    }
    .login-signup section#formHolder .form .form-peice>form {
        width: 100% !important;
        padding: 40px;
        left: 50%;
    }
    .login-signup .form form .CTA {
        text-align: center;
    }
    .login-signup .form form .CTA input {
        display: block;
        margin: 6px auto;
    }
    .login-signup .form form .CTA a.switch {
        text-align: center;
        margin-top: 8px;
        display: inline-block;
    }
    .login-signup .close {
        top: 25px;
        color: #fff;
        right: 21px;
        z-index: 999999;
    }
    .subscribe-text {
        padding: 15px 0;
    }
    .subscribe-text h3 {
        font-size: 28px;
        text-align: center;
    }
    .subscribe-text h3 span {
        font-size: 18px;
    }
    .subscribe-text::before {
        display: none;
    }
    .xs-p-0 {
        padding: 0;
    }
    .subscribe-now {
        padding: 20px 0;
    }
    .subscribe-now .btn-part {
        text-align: center;
    }
    .subscribe-now .btn-part .subscribe {
        font-size: 12px;
        margin-top: 10px;
    }
    .fine-jewellery .fine-jewellery-box .pro-box.mt-130 {
        margin-top: 0px;
    }
    .fine-jewellery .fine-jewellery-box .text-pro-part h3 {
        font-size: 40px;
        margin: 15px 0 7px;
    }
    .fine-jewellery .fine-jewellery-box .text-pro-part h4 {
        font-size: 19px;
        margin: 0px 0 19px;
    }
    .product-listing .list-full .img-bdr img {
        width: 100%;
    }
    .product-listing .list-full:hover {
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
    }
    .product-listing .list-full {
        min-height: 272px;
    }
}

@media screen and (min-width:480px) and (max-width:510px) {
    .collectionpart .collection-detail {
        padding: 26px 0 0 30px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 40px
    }
}

@media screen and (min-width:480px) and (max-width:767px) {
    .footer-link .footer-form .btn-part {
        text-align: center;
        margin-bottom: 15px;
    }
    .collectionpart .p-0 {
        padding: 0;
    }
    .footer-link .panel-heading a:before {
        top: 0px;
    }
    .footer-link .panel-title a {
        margin: 14px 0;
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:480px) and (max-width:600px) {
    .product-listing .col-xs-6 {
        width: 100%;
    }
    .product-listing .list-full {
        min-height: auto !important;
    }
}

@media screen and (max-width:480px) {
    .footer-form .col-xs-4 {
        width: 100%;
    }
    .footer-link .col-xs-6 {
        width: 100%;
    }
    .collectionpart .collection-detail {
        padding: 10px 20px;
    }
    .collectionpart .collection-detail h1 {
        font-size: 40px
    }
    .collectionpart .cssbtn-part {
        margin-top: 15px;
        margin-bottom: 0;
    }
    .collectionpart .cssbtn-part span {
        font-size: 10px;
    }
    .collectionpart .cssbtn-part a {
        padding: 10px 6px;
        text-align: center;
        margin-bottom: 5px;
    }
    .collectionpart .p-0 {
        padding: 0;
    }
    .connect-with-us .with-us-tlt h2:after {
        font-size: 500px;
        left: -86px;
        top: -66px;
        width: 139px;
        height: 175px;
        background-size: 134px;
    }
    .connect-with-us .with-us-tlt h2 {
        font-size: 17px;
        margin-left: 75px;
    }
    .connect-with-us .with-us-tlt h2 span {
        font-size: 27px;
    }
    .login-signup section#formHolder .form {
        width: 100%;
        margin-left: 0;
    }
    .login-signup .modal-dialog {
        width: 85%;
    }
    .subscribe-now .btn-part {
        text-align: left;
        margin-top: 10px;
    }
    .subscribe-now .btn-part .subscribe {
        font-size: 12px;
    }
    .subscribe-now .col-xs-6 {
        width: 100%;
    }
    .product-listing .col-xs-6 {
        width: 100%;
    }
    .connect-with-us .sosial-icn ul li {
        margin: 0 2px;
    }
    .connect-with-us .sosial-icn {
        left: auto;
        right: 0;
    }
    .connect-with-us .sosial-icn ul li a i {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        line-height: 30px;
        font-size: 16px;
    }
}